.header-bar-1 {
  @apply flex w-full justify-center mx-10;
  z-index: 9999;

  .header-group {
    @apply flex w-full max-w-[1280px] fixed mt-[15px] ;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: var(--Color, rgba(40, 40, 40, 0.70));
    box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
    backdrop-filter: blur(50px);

    .group-left {
      @apply flex gap-4 items-center;
      .menu-item {
        @apply flex gap-4 items-center;
        .item {
          color: #FFF;
          font-family: Play, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .group-right {
      @apply flex gap-4;
      a {
        @apply cursor-pointer;
        img:nth-child(1) {
          @apply inline opacity-100;
         transition: opacity 2s linear;
        }
        img:nth-child(2) {
          @apply hidden opacity-0;
         transition: opacity 2s linear;
        }
      }

      a:hover {
        img:nth-child(1) {
          @apply hidden opacity-0;
        }

        img:nth-child(2) {
          @apply inline opacity-100;
        }
      }
    }
  }
}