.our-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  > div:nth-child(1) {
    width: 100%;
    max-width: 1280px;
    color: #242424;
    font-family: Anton;
    font-size: 240px;
    font-weight: 400;
    text-transform: uppercase;
  }

  > .content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    > div:nth-child(1) {
      width: 100%;
      display: flex;
      justify-content: space-between;

      > div:nth-child(1) {
        position: relative;
        height: 496px;

        > svg {
          width: auto;
          height: 21%;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        > div:nth-child(2) {
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translate(30%, -30%);
          color: #fff;
          text-align: right;
          font-family: Play;
          font-size: 14px;
          font-weight: 400;
          line-height: 36px; /* 257.143% */
          text-transform: uppercase;
        }

        > div:nth-child(3) {
          height: 100%;
          clip-path: polygon(
            0% 73%,
            0.1% 74.5%,
            0.3% 75%,
            0.4% 75.5%,
            14.5% 98%,
            14.9% 98.5%,
            15.5% 99.1%,
            16% 99.4%,
            17% 99.8%,
            18.5% 100%,
            100% 100%,
            100% 0%,
            0% 0%
          );
          border-radius: 20px;
          overflow: hidden;
          > video {
          }
        }
        > img:nth-child(4) {
          position: absolute;
          top: 21px;
          right: 29px;
        }
      }

      > div:nth-child(2) {
        position: relative;
        > div {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 24px 20px 43px 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;

          > div:nth-child(1) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            > div {
              color: #dcdcdc;
              font-family: Play;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 36px; /* 200% */
              text-transform: uppercase;
            }
          }

          > div:nth-child(2) {
            color: #fff;
            text-align: right;
            font-family: Anton, sans-serif;
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
          }

          > div:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            > div {
              color: #fff;
              text-align: right;
              font-family: Play;
              font-size: 16px;
              font-weight: 400;
              line-height: 130%; /* 20.8px */
            }
          }

          > div:nth-child(4) {
            width: 312px;
            color: #dcdcdc;
            text-align: right;
            font-family: Play;
            font-size: 16px;
            font-weight: 400;
            > span:nth-child(2) {
              display: none;
            }
          }

          > .go-dashboard {
            width: 220px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            padding: 6px 24px;
            border-radius: 56px;
            border: 0.5px solid #fff;
            position: relative;
            cursor: pointer;
            margin-top: 15px;

            > svg {
              position: absolute;
              left: 24px;
              opacity: 1;
              transition:
                left 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
            }

            > svg:nth-child(2) {
              opacity: 0;
              transition:
                left 0.2s ease-in-out,
                opacity 0.2s ease-in-out;
            }

            > div {
              position: absolute;
              right: 24px;
              color: #fff;
              font-family: PlusJakarta, sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 36px; /* 225% */
              transition: right 0.2s ease-in-out;
            }

            &:hover {
              background: #fff;
              flex-direction: row-reverse;
              > svg {
                left: 172px;
                opacity: 0;
              }
              > svg:nth-child(2) {
                opacity: 1;
              }
              > div {
                color: #000;
                right: 68px;
              }
            }
          }
        }
      }
    }

    > div:nth-child(2) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      > div:nth-child(1) {
        position: relative;
        > div {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 24px 20px 43px 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-end;

          > div:nth-child(1) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            > div {
              color: #dcdcdc;
              font-family: Play;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 36px; /* 200% */
              text-transform: uppercase;
            }
          }

          > div:nth-child(2) {
            color: #fff;
            text-align: right;
            font-family: Anton, sans-serif;
            font-size: 48px;
            font-weight: 400;
            text-transform: uppercase;
          }

          > div:nth-child(3) {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            > div {
              color: #fff;
              text-align: right;
              font-family: Play;
              font-size: 16px;
              font-weight: 400;
              line-height: 130%; /* 20.8px */
            }
          }

          > div:nth-child(4) {
            width: 312px;
            color: #dcdcdc;
            text-align: right;
            font-family: Play;
            font-size: 16px;
            font-weight: 400;
          }

          > .coming-soon {
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            padding: 6px 24px;
            border-radius: 56px;
            border: 0.5px solid #fff;
            position: relative;
            cursor: pointer;
            margin-top: 15px;
            transition: background 0.2s ease-in-out;

            > div {
              color: #fff;
              font-family: PlusJakarta, sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 36px; /* 225% */
              text-transform: uppercase;
              transition: color 0.2s ease-in-out;
            }

            &:hover {
              background: #fff;

              > div {
                color: #000;
              }
            }
          }
        }
      }

      > div:nth-child(2) {
        position: relative;
        overflow: hidden;

        > svg {
          width: auto;
          height: 21%;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        > div:nth-child(2) {
          position: absolute;
          left: 0;
          bottom: 0;
          transform: translate(30%, -30%);
          color: #fff;
          text-align: right;
          font-family: Play;
          font-size: 14px;
          font-weight: 400;
          line-height: 36px; /* 257.143% */
          text-transform: uppercase;
        }

        > div {
          clip-path: polygon(
            0% 73%,
            0.1% 74.5%,
            0.3% 75%,
            0.4% 75.5%,
            14.5% 98%,
            14.9% 98.5%,
            15.5% 99.1%,
            16% 99.4%,
            17% 99.8%,
            18.5% 100%,
            100% 100%,
            100% 0%,
            0% 0%
          );
          border-radius: 20px;
          overflow: hidden;

          > video {
            width: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            border-radius: 10%;
          }
          > img {
            position: relative;
            z-index: 1;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1296px) {
  .our-projects {
    width: 95%;

    > div:nth-child(1) {
      font-size: 17.2vw;
      text-align: center;
    }

    > .content {
      > div:nth-child(1) {
        gap: 5px;
        > div:nth-child(1) {
          width: calc(calc(100%) * 904 / 1280);
          height: auto;

          > div:nth-child(2) {
            font-size: 11px;
            transform: translate(15%, -15%);
          }
        }

        > div:nth-child(2) {
          flex: 1;
          > img {
            width: 100%;
          }
          > div {
            padding: 18px 16px;

            > div:nth-child(1) {
              > div {
                font-size: 16px;
                line-height: 100%;
              }
            }

            > div:nth-child(2) {
              font-size: 42px;
            }

            > div:nth-child(3) {
              > img {
                height: 44px;
              }
            }

            > div:nth-child(4) {
              width: 90%;
              font-size: 14px;
            }

            > .go-dashboard {
              width: 68%;
              padding: 6px 14px;

              > svg {
                left: 14px;
                width: 22px;
                height: 22px;
                font-size: 14px;
              }
              > div {
                right: 14px;
                font-size: 14px;
              }

              &:hover {
                background: #fff;
                flex-direction: row-reverse;
                > svg {
                  left: calc(calc(100%) - 34px);
                  opacity: 0;
                }
                > svg:nth-child(2) {
                  opacity: 1;
                }
                > div {
                  color: #000;
                  right: 48px;
                }
              }
            }
          }
        }
      }
      > div:nth-child(2) {
        gap: 5px;
        > div:nth-child(2) {
          width: calc(calc(100%) * 904 / 1280);
          height: auto;

          > div:nth-child(2) {
            font-size: 12px;
            transform: translate(45%, -15%);
          }
        }

        > div:nth-child(1) {
          flex: 1;
          > img {
            width: 100%;
          }
          > div {
            padding: 18px 16px;

            > div:nth-child(1) {
              > div {
                font-size: 16px;
                line-height: 100%;
              }
            }

            > div:nth-child(2) {
              font-size: 40px;
            }

            > div:nth-child(3) {
              > img {
                height: 44px;
              }
            }

            > div:nth-child(4) {
              width: 90%;
              font-size: 14px;
            }

            > .coming-soon {
              width: 68%;
              padding: 6px 14px;

              > svg {
                left: 14px;
                width: 22px;
                height: 22px;
                font-size: 14px;
              }
              > div {
                right: 14px;
                font-size: 14px;
              }

              &:hover {
                background: #fff;
                flex-direction: row-reverse;
                > svg {
                  left: calc(calc(100%) - 34px);
                  opacity: 0;
                }
                > svg:nth-child(2) {
                  opacity: 1;
                }
                > div {
                  color: #000;
                  right: 48px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .our-projects {
    > .content {
      > div:nth-child(1) {
        > div:nth-child(1) {
          > svg {
          }
          > div:nth-child(2) {
            font-size: 10px;
            transform: translate(15%, 0%);
          }
        }

        > div:nth-child(2) {
          > div {
            > .go-dashboard {
              height: 42px;
              padding-top: 0;
              padding-bottom: 0;
              > svg {
                left: 8px;
              }
            }
          }
        }
      }
      > div:nth-child(2) {
        > div:nth-child(2) {
          > div:nth-child(2) {
            font-size: 10px;
            transform: translate(15%, 0%);
          }
        }

        > div:nth-child(1) {
          > div {
            > div:nth-child(2) {
              font-size: 38px;
            }
            > .coming-soon {
              height: 42px;
              padding-top: 0;
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .our-projects {
    .content {
      > div:nth-child(1) {
        > div:nth-child(1) {
          > div:nth-child(2) {
            font-size: 9px;
          }
        }
        > div:nth-child(2) {
          > div {
            > div:nth-child(1) {
              > div {
                font-size: 1.5vw;
              }
            }
            > div:nth-child(2) {
              font-size: 3.6vw;
            }
            > div:nth-child(3) {
              > img {
                width: 100%;
                height: 36px;
              }
            }
            > div:nth-child(4) {
              font-size: 12px;
              > span:nth-child(1) {
                display: none;
              }
              > span:nth-child(2) {
                display: inline;
              }
            }
            > .go-dashboard {
              > svg {
                width: 20px;
                height: 20px;
              }
              > div {
                font-size: 12px;
              }

              &:hover {
                > svg {
                  left: 8px;
                }
                > div {
                  right: 14px;
                }
              }
            }
          }
        }
      }
      > div:nth-child(2) {
        > div:nth-child(1) {
          > div {
            > div:nth-child(1) {
              > div {
                font-size: 1.5vw;
              }
            }
            > div:nth-child(2) {
              font-size: 3.6vw;
            }
            > div:nth-child(3) {
              > img {
                width: 100%;
                height: 36px;
              }
            }
            > div:nth-child(4) {
              font-size: 12px;
              > span:nth-child(1) {
                display: none;
              }
              > span:nth-child(2) {
                display: inline;
              }
            }
            > .coming-soon {
              width: 72%;
              > div {
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 896px) {
  .our-projects
    > .content
    > div:nth-child(1)
    > div:nth-child(2)
    > div
    > .go-dashboard
    > svg {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .our-projects {
    > div:nth-child(1) {
      font-size: 93px;
    }
    > .content {
      > div {
        flex-direction: column;
      }
      > div:nth-child(1) {
        gap: 10px;
        > div:nth-child(1) {
          width: 100%;

          > div:nth-child(3) {
            width: 100%;

            > video {
              width: 100%;
              height: auto;
            }
          }
          > img:nth-child(4) {
            width: 35%;
          }
          > svg {
            width: 12%;
          }
        }
        > div:nth-child(2) {
          > img {
            height: 434px;
          }
          > div {
            > div:nth-child(1) {
              > div {
                font-size: 18px;
              }
            }
            > div:nth-child(2) {
              font-size: 46px;
            }
            > div:nth-child(3) {
              > img {
                height: 44px;
              }
            }
            > div:nth-child(4) {
              font-size: 16px;
              > span:nth-child(1) {
                display: inline;
              }
              > span:nth-child(2) {
                display: none;
              }
            }
            > .go-dashboard {
              width: 190px;
              height: 48px;
              > svg {
                display: block;
                width: 25px;
                height: 25px;
              }
              > div {
                font-size: 16px;
              }
            }
          }
        }
      }
      > div:nth-child(2) {
        flex-direction: column-reverse;
        gap: 10px;
        > div:nth-child(2) {
          width: 100%;

          > img:nth-child(4) {
            width: 100%;
            height: auto;
          }
          > svg {
            width: 12%;
            height: auto;
          }
        }
        > div:nth-child(1) {
          > img {
            width: 100%;
            height: 434px;
          }
          > div {
            > div:nth-child(1) {
              > div {
                font-size: 18px;
              }
            }
            > div:nth-child(2) {
              font-size: 46px;
            }
            > div:nth-child(3) {
              > img {
                height: 44px;
              }
            }
            > div:nth-child(4) {
              font-size: 16px;
              > span:nth-child(1) {
                display: inline;
              }
              > span:nth-child(2) {
                display: none;
              }
            }
            > .coming-soon {
              width: 190px;
              height: 48px;
              > div {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .our-projects {
    > div:nth-child(1) {
      font-size: 70px;
    }
    > .content {
      > div {
        flex-direction: column;
      }
      > div:nth-child(1) {
        gap: 10px;
        > div:nth-child(1) {
          width: 100%;

          > div:nth-child(3) {
            width: 100%;

            > video {
              width: 100%;
              height: auto;
            }
          }
          > img:nth-child(4) {
            width: 35%;
          }
          > svg {
            width: 12%;
          }
        }
        > div:nth-child(2) {
          > img {
            height: 434px;
          }
          > div {
            > div:nth-child(1) {
              > div {
                font-size: 18px;
              }
            }
            > div:nth-child(2) {
              font-size: 46px;
            }
            > div:nth-child(3) {
              > img {
                height: 44px;
              }
            }
            > div:nth-child(4) {
              font-size: 16px;
              > span:nth-child(1) {
                display: inline;
              }
              > span:nth-child(2) {
                display: none;
              }
            }
            > .go-dashboard {
              width: 190px;
              height: 48px;
              > svg {
                display: block;
                width: 25px;
                height: 25px;
              }
              > div {
                font-size: 16px;
              }
            }
          }
        }
      }
      > div:nth-child(2) {
        flex-direction: column-reverse;
        gap: 10px;
        > div:nth-child(2) {
          width: 100%;

          > img:nth-child(4) {
            width: 100%;
            height: auto;
          }
          > svg {
            width: 12%;
            height: auto;
          }
        }
        > div:nth-child(1) {
          > img {
            width: 100%;
            height: 434px;
          }
          > div {
            > div:nth-child(1) {
              > div {
                font-size: 18px;
              }
            }
            > div:nth-child(2) {
              font-size: 46px;
            }
            > div:nth-child(3) {
              > img {
                height: 44px;
              }
            }
            > div:nth-child(4) {
              font-size: 16px;
              > span:nth-child(1) {
                display: inline;
              }
              > span:nth-child(2) {
                display: none;
              }
            }
            > .coming-soon {
              width: 190px;
              height: 48px;
              > div {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
