.strategic {
  @apply flex flex-col w-[95%] gap-1 max-w-[1280px];
  .strategic-group-1 {
    @apply flex w-full lg:h-[481px] md:h-[420px] gap-1 max-md:flex-col max-md:h-auto max-md:items-center;
  }
  .strategic-group-2 {
    @apply flex w-full lg:h-[366px] md:h-[320px] max-md:h-auto max-md:justify-center;
  }
  .strategic-group-3 {
    @apply flex w-full h-full gap-1 justify-between;
    .strategic-item {
      @apply max-md:hidden flex flex-col gap-4 basis-1/3 xl:h-[480px] md:h-[430px] pt-4 px-4 pb-8 rounded-[24px] relative;
      border: none;
      background: rgba(40, 40, 40, 0.7);
      box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
      backdrop-filter: blur(50px);
      .single-img {
        @apply w-full h-full object-contain object-top absolute top-0 left-0 opacity-100;
        transition: opacity 0.5s ease-in-out;
      }

      .single-img-active {
        @apply w-full h-full object-contain object-top absolute top-0 left-0 opacity-0;
        transition: opacity 0.5s ease-in-out;
      }
      .content {
        @apply flex flex-col gap-1 xl:px-4 md:px-0 xl:text-[24px] md:text-[22px] font-normal leading-6 h-full justify-end;
        color: rgba(248, 248, 248, 0.95);
        font-family: Play, sans-serif;
        p {
          @apply xl:text-[16px] md:text-[14px];
          color: rgba(248, 248, 248, 0.7);
        }
      }

      &:hover {
        .single-img {
          @apply opacity-0;
        }

        .single-img-active {
          @apply opacity-100;
        }
      }
    }
    .strategic-item:nth-child(3) {
      .container-img {
        @apply w-full h-full relative;
        img:nth-child(1) {
          @apply w-full xl:h-[336px] lg:h-[280px] md:h-[230px] object-cover object-top;
        }
        img:nth-child(2) {
          @apply opacity-0 xl:-top-[85px] lg:-top-[60px] md:-top-[50px] absolute;
          transition: opacity 0.5s ease-in-out;
        }
        img:nth-child(3) {
          @apply absolute xl:-top-[85px] lg:-top-[60px] md:-top-[50px];
          transition: opacity 0.5s ease-in-out;
        }
      }
      &:hover {
        .container-img {
          img:nth-child(2) {
            @apply opacity-100;
          }
          img:nth-child(3) {
            @apply opacity-0;
          }
        }
      }
    }
    .strategic-group-3-mobile {
      @apply md:hidden flex flex-col gap-1 w-full items-center;
      .strategic-item-mobile {
        @apply md:hidden max-md:flex flex-col gap-4 h-[480px] px-4 pt-4 pb-8 items-center rounded-[12px] relative w-full;
        background: rgba(40, 40, 40, 0.70);
        box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
        backdrop-filter: blur(50px);
        img {
          @apply absolute top-0 object-top object-contain w-full h-full;
        }
        .card-item {
          @apply flex flex-col justify-end h-full gap-1 items-start;
          .card-title {
            color: rgba(248, 248, 248, 0.95);
            font-family: Play, sans-serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 100% */
            width: 100%;
          }
          .card-text {
            color: rgba(248, 248, 248, 0.70);
            font-family: Play, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }

        }
      }
      .strategic-item-mobile:nth-child(3) {
        img {
          @apply -top-12;
        }
      }
    }

  }
}
