.strategic {
  @apply flex flex-col w-full max-w-[1440px] px-20 gap-1;
  .strategic-group-1 {
    @apply flex w-full h-[481px] gap-1;
  }
  .strategic-group-2 {
    @apply flex w-full h-[366px];
  }
  .strategic-group-3 {
    @apply flex w-full h-full gap-1 justify-between;
    .strategic-item {
      @apply flex flex-col gap-4 basis-1/3 h-[480px] pt-4 px-4 pb-8 rounded-[24px] relative;
      border: none;
      background: rgba(40, 40, 40, 0.70);
      box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
      backdrop-filter: blur(50px);
      .single-img {
        @apply w-full h-full object-contain object-top absolute top-0 left-0 opacity-100;
        transition: opacity 0.5s ease-in-out;
      }

      .single-img-active {
        @apply w-full h-full object-contain object-top absolute top-0 left-0 opacity-0;
        transition: opacity 0.5s ease-in-out;
      }
      .content {
        @apply flex flex-col gap-1 px-4 text-[24px] font-normal leading-6 h-full justify-end;
        color: rgba(248, 248, 248, 0.95);
        font-family: Play, sans-serif;
        p {
          @apply text-[16px];
        }
      }

      &:hover {
        .single-img {
          @apply opacity-0;
        }

        .single-img-active {
          @apply opacity-100;
        }
      }
    }
    .strategic-item:nth-child(3){
      .container-img {
        @apply w-full h-full relative;
        img:nth-child(1) {
          @apply w-full h-[336px] object-cover object-top;
        }
        img:nth-child(2) {
          @apply opacity-0 -top-[85px] absolute;
          transition: opacity 0.5s ease-in-out;
        }
        img:nth-child(3) {
          @apply absolute -top-[85px] ;
          transition: opacity 0.5s ease-in-out;
        }
      }
      &:hover {
        .container-img {

          img:nth-child(2) {
            @apply opacity-100;
          }
          img:nth-child(3) {
            @apply opacity-0;
          }
        }
      }
    }
  }
}