@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #000;
  @apply flex flex-col items-center justify-center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-truncate {
  white-space: nowrap; /* Ngăn chặn văn bản từ việc xuống dòng */
  overflow: hidden; /* Ẩn phần văn bản vượt quá khối chứa */
  text-overflow: ellipsis;
}

@font-face {
  font-family: Play;
  src: url("/Play-Regular.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("/Poppins-Regular.ttf");
}

@font-face {
  font-family: Anton;
  src: url("/Anton-Regular.ttf");
}

@font-face {
  font-family: PlusJakarta;
  src: url("/PlusJakartaSans-VariableFont.ttf");
}

.container-stark {
  position: relative;

  > div:not(.header-bar) {
    z-index: 1;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background-image: url("./assets/images/background.png");
  opacity: 0.1;
}
