.about-us-mobile {
  @apply md:hidden max-md:flex flex-col gap-4 h-[480px] px-4 pt-4 pb-8 items-center rounded-[12px] relative w-full;
  background: rgba(40, 40, 40, 0.70);
  box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
  backdrop-filter: blur(50px);
  img {
    @apply absolute top-0 object-top object-contain w-full h-[70%];
  }
  .about-content {
    @apply flex flex-col justify-end h-full gap-1 items-start;
    .title-card {
      color: rgba(248, 248, 248, 0.95);
      font-family: Play, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 100% */
      width: 100%;
    }
    .body-card {
      color: rgba(248, 248, 248, 0.70);
      font-family: Play, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
    .btn-follow-us {
      margin-top: 20px;
      display: flex;
      padding: 6px 24px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 56px;
      border: 0.5px solid #FFF;
      color: #FFF;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 225% */
    }
  }
}