.system {
  @apply flex rounded-[24px] items-center justify-center w-full;
  border: none;
  background:  rgba(40, 40, 40, 0.70);
  box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
  backdrop-filter: blur(50px);
  padding: 16px 16px 16px 0px;
  .system-content {
    @apply flex flex-col w-full items-center justify-center gap-6;
    .system-description {
      @apply text-center text-[24px] font-normal leading-6;
      color:  rgba(248, 248, 248, 0.95);
      font-family: Play, sans-serif;
      p {
        @apply text-[16px];
      }
    }
    .system-architect {
      @apply flex py-1.5 px-6 justify-center items-center gap-2 rounded-[56px] text-white font-[500] leading-9;
      border: 0.5px solid #FFF;
      font-family: "Plus Jakarta Sans", sans-serif;

      &:hover {
        @apply bg-white flex-row-reverse;
        svg {
          path {
            fill: black;
          }
        }

        p {
          @apply text-black;
        }
      }
    }
  }
  img {
    @apply w-[364px] h-full object-cover object-right-top;
    transition: opacity 0.5s ease-in-out;
  }
}