.system {
  @apply flex rounded-[24px] items-center justify-center w-full;
  border: none;
  background:  rgba(40, 40, 40, 0.70);
  box-shadow: 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
  backdrop-filter: blur(50px);
  padding: 16px 16px 16px 0px;
  .system-content {
    @apply flex flex-col w-full items-center justify-center gap-6;
    .system-description {
      color: var(--Text-Text-Primary, rgba(248, 248, 248, 0.95));
      text-align: center;
      font-family: Play;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 100% */
      p {
        @apply text-[16px];
      }
    }
    .system-architect {
      display: flex;
      padding: 6px 24px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 56px;
      border: 0.5px solid #FFF;
      color: #FFF;
      font-family: "Plus Jakarta Sans";
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px; /* 225% */
    }
  }
  img {
    @apply w-[364px] h-full object-cover object-right-top;
    transition: opacity 0.5s ease-in-out;
  }
}